.header{
    background-color: #3dc1d3;
}
.container{
    color: white !important;
}
.d-sm-flex .breadcrumb{
    color: white;
    height: 28px;
    transform: translateY(9px)
}
.icon-la{
    color: white;
    text-decoration: none;
    display: flex;
    margin-right: 10px;
    position: relative;
}
.menu-span{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.btn-close{
    position: absolute;
    top: 10px;
    left: 45%;
    font-size: 25px;
}
.input-canvas{
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input-canvas input{
    border-radius: 50px;
}
.input-canvas button{
    background-color: white;
    border: none;
    color: black;
    border-radius: 50px;
}
.breadcrumb-item .btn-sort{
    color: white;
    background-color: #3dc1d3;
    border: none;
    position: relative;
}
.breadcrumb-item .btn-sort::after{
    content: '';
    position: absolute;
    border-top: 2px solid #546de5;
    width: 0%;
    top: -9px;
    left: 0;
    transition: 1s;
}
.breadcrumb-item .btn-sort:hover::after{
    content: '';
    position: absolute;
    border-top: 2px solid #546de5;
    width: 100%;
    top: -9px;
    left: 0;
}
.container .nav-item a{
    color: white;
}
strong .nav-item a{
    color: black;
    display: block;
    transform: translateY(-10px);
}
strong .nav-item{
    position: relative;
    margin-top: 20px;
}
strong .nav-item::after{
    content: '';
    color: black;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid black;
}
.header .nav-item:hover a{
    color: #546de5;
    transition: 1s;
}
.list-link{
    z-index: 10;
    position: absolute;
    top: 40px;
    transition: 1s;
}
.scrolltotop {
    background-color: #0984e3;
    border: none;
    border-radius: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1;
}
.num-cart{
    position: absolute;
    right: 65px;
    bottom: -10px;
    font-size: 25px;
    color: #c44569;
}
.num-cart1{
    position: absolute;
    right: 30px;
    bottom: -15px;
    font-size: 25px;
    color: #c44569;
}



