
.carousel{
    border-radius: 50px;
    width: 100% !important;
    z-index: -1;
}
.carousel-inner{
    border-radius: 50px;
}
.img-content11:hover{
    transform: scale(1.2);
    transition: 1s;
}
.contain-1{
    position: relative;
}
.btn-disco{
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 23%;
    height: 50px;
    width: 160px;
    background-color: black !important;
    font-size: 14px !important;
}
.btn-disco:hover{
    background-color: #e74c3c !important;
    transition: 1.5s;
    animation: tada 3s infinite;
}
.w-100{
    height: 350px;
}
